.right__navbar{
    width: 100%;
}
.box-navbar{
    width: 100%;
    height: 100%;
    display: inline-flex;
    padding: 15px 32px;
    align-items: center;
    justify-content: space-between;
    max-width: 1366px;
    box-sizing: border-box; /* Đảm bảo padding không làm tăng kích thước */
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-back-of-an {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    margin: 0;
    color: #747C87;
}
.btn-back-of-an svg {
    margin-right: 12px;
}
.btn-back-of-ank h4 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
}
.btn-toolbar {
    align-items: center;
    flex-wrap: nowrap;
    gap: 16px;
    position: relative;
    display: flex;
}
.btn-outline-primary-red{
    height: 35px;
    width: 80px;
    border: 1px solid red;
    background-color: transparent;
    color: red;
    border-radius: 5px;
}
.btn-outline-primary-red:hover{
    cursor: pointer;
    background-color: #ffdfdf;
}
.btn-outline-primary-blue{
    height: 35px;
    width: 80px;
    border: 1px solid #4d53e0;
    background-color: transparent;
    color: #4d53e0;
    border-radius: 5px;
}
.btn-outline-primary-blue:hover{
    cursor: pointer;
    background-color: #dfdfff;
}
.btn-primary{
    height: 35px;
    width: 80px;
    border: none;
    background-color: #4d53e0;
    color: #FFFFFF;
    border: 1px solid #4d53e0;
    border-radius: 5px;
}
.btn-primary:hover{
    background-color: #6265E0;
    cursor: pointer;
}
.btn-primary:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
.btn-primary-red{
    height: 35px;
    width: 80px;
    border: none;
    background-color: red;
    color: #FFFFFF;
    border: 1px solid red;
    border-radius: 5px;
}
.btn-primary-red:hover{
    background-color: #ffc2c2;
    cursor: pointer;
}
.btn-primary-red:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.right__DetailPage{
    display: flex;
    flex-direction: row;
    gap: 60px;
}
.box-maininfo {
    display: flex;
    padding-left: 32px;
    padding-top: 30px;
    flex-direction: column;
    gap: 20px;
}
.box-general-request{
    background-color: #FFFFFF;
    width: 650px;
    box-sizing: border-box;
    padding-bottom: 20px;
    border-radius: 3px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.info-header-request{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    border-bottom: 2px solid #e8eaeb;
    box-sizing: border-box;
    padding-left: 25px;
    color: #3d3d3d;
}
.info-content-request{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
    padding: 20px 25px;
}
.row-request{
    display: flex;
    flex-direction: row;
    gap: 45px;
}

.form-label{
    color: #747C87;
    font-size: 14px;
}
.row-report{
    display: flex;
    flex-direction: row;
    gap: 45px;
}
.box-request-name, .box-request-ngaysinh, .box-request-sdt, .box-request-cccd, .box-request-gender, .box-request-khoa, .box-request-diachi, .box-request-school, .box-request-class, .box-request-room, .box-request-room_gender,
.box-request-trangthai, .box-request-sotien,.box-request-ngaygui, .box-request-ngaypheduyet,.box-request-anhminhchung
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form-textfield1 input{
    width: 260px;
    height: 35px;
    border: 1px solid #d3d5d7;
    padding: 0px 10px;
    font-size: 15px;
}
.form-textfield1 input:focus{
    outline: none;
}

.box-detail-request{
    background-color: #FFFFFF;
    width: 500px;
    box-sizing: border-box;
    padding-bottom: 20px;
    border-radius: 3px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.form-textfield-request1 input{
    width: 180px;
    height: 35px;
    border: 1px solid #d3d5d7;
    padding: 0px 10px;
    font-size: 15px;
}
.form-textfield-request1 input:focus{
    outline: none;
}
.form-image-request {
    border: 1px solid #747C87;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center; /* Đảm bảo hình ảnh được căn giữa theo chiều dọc */
    overflow: hidden; /* Đảm bảo phần ảnh thừa không tràn ra ngoài */
}

.form-image-request img {
    width: 200px; /* Đảm bảo chiều rộng bao phủ cha */
    height: 200px; /* Đảm bảo chiều cao bao phủ cha */
    object-fit: contain; /* Giữ tỷ lệ và cắt ảnh nếu cần */
}